---
import TextInput from "../components/TextInput.jsx";
---

<!-- this is the page that users visit  -->
<html>
  <head>
    <title>Astro + React + Flask</title>
    <link rel="stylesheet" type = "../css/style.css" href = "style">
  </head>
  <body>
    <h1 class = 'title'>Artifact Cloud</h1>
    <!-- now importing the elements defined in textInput.jsx -->
    <TextInput client:load />  <!-- Ensures React runs in the browser -->
  </body>
</html>