.title {
    color: red; 
}

.popup {
    position: fixed;
    top: 50%; 
    left: 50%; 
    height: 200px; 
    transform: translate(-50%, -50%); 
    background: pink; 
    padding: 20px; 
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    overflow: auto; 
}

.popup-content { 
    text-align: left; 
}

.popup button{ 
    position: absolute; 
    right: 10px; 
    top: 10px; 
    padding: 4px 5px; 
    border-radius: 0; 

    
}